.main {
  background: #eba8b1;
  padding-top: 127px;
  padding-bottom: 108px;
}

.main .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  margin-bottom: 60px;
}

.main-title h1 {
  font-size: 55px;
  color: #ffffff;
  line-height: 1.091;
  position: relative;
  z-index: 15;
  font-weight: normal;
}

.main-text {
  margin-bottom: 80px;
  max-width: 360px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 1.389;
  position: relative;
  z-index: 15;
}

.main-button {
  width: 240px;
  padding: 21px;
}

.advantages {
  background: #ffefef;
  padding-top: 119px;
  padding-bottom: 120px;
  position: relative;
  z-index: 11;
}

.advantages .container {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.advantages-info {
  margin-bottom: 32px;
}

.advantages-info-title {
  margin-bottom: 60px;
}

.advantages-info-title h2 {
  font-size: 45px;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  max-width: 475px;
  font-weight: normal;
}

.advantages-info-text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  max-width: 400px;
}

.advantages-image {
  justify-self: right;
  margin-bottom: 26px;
}

.advantages-items {
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 86px;
  margin-top: 57px;
}

.products {
  background: #eba8b1;
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.products-title {
  margin-bottom: 143px;
}

.products-title h2 {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(255, 255, 255);
}

.products-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 29px;
}

.order {
  padding-top: 90px;
  padding-bottom: 120px;
  background: #ffefef;
}

.order .container {
  display: flex;
  justify-content: space-between;
}

.order-image {
  margin-left: 12px;
  position: relative;
}

.order-image-strawberry {
  position: absolute;
  top: -26px;
  left: -12px;
  animation: strawberry-image-anim 2.5s infinite linear;
}

.order-image-strawberry-extra {
  display: none;
}

.order-info {
  max-width: 555px;
  position: relative;
}

.order-info-title {
  margin-bottom: 41px;
}

.order-info-title h2 {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
}

.order-info-text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
  margin-bottom: 48px;
  max-width: 400px;
}

.order-info-input-text {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: rgb(18, 10, 6);
  margin-bottom: 21px;
}

.order-input {
  margin-bottom: 15px;
  width: 294px;
  padding: 20px 26px 20px;
  box-sizing: border-box;
  border-radius: 30px;
  border: 1px solid #821328;
  outline: none;
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: rgb(91, 1, 20);
  line-height: 1;
  background: #ffefef;;
}

.order-input::placeholder {
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: rgb(118, 12, 34);
  line-height: 1;
}

.first-input {
  margin-bottom: 40px;
}

.order-button {
  width: 294px;
  padding: 21px;
}

.order-info-strawberry {
  position: absolute;
  top: 419px;
  left: 354px;
  animation: strawberry-info-anim 3s infinite linear;
}

.main-image {
  position: relative;
}

.main-image img {
  position: relative;
  z-index: 100;
}

.cart {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background-image: radial-gradient(#71081e 0%, #d7485c 100%);
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}

.cart .cart-image {
  max-width: 53%;
  max-height: 53%;
  position: relative;
  left: -4px;
}

.cart:hover {
  box-shadow: 0 0 12.6px 2.4px rgba(130, 19, 40, 0.5);
}

.cart:hover .cart-text {
  opacity: 1;
  top: calc(50% - 22px);
}

.cart-text {
  background: #feefee;
  position: absolute;
  right: 112px;
  top: 120px;
  padding: 13px 10px;
  border: 2px solid #770a1d;
  border-radius: 10px;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 10, 29);
  line-height: 1.333;
  opacity: 0;
  transition: all 0.5s ease;
  min-width: 100%;
}

.cart-text img {
  position: absolute;
  top: calc(50% - 11px);
  right: -15px;
}

.cart-products-count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #770a1d;
  background: #feefee;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: rgb(119, 10, 29);
}

.cart-products-count.has-product {
  display: flex;
}

.main-image::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 1px solid #960f26;
  width: 180px;
  height: 180px;
  top: 140px;
  left: 180px;
  animation: circle-anim 3s infinite;
  z-index: 10;
}

.main-image::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 1px solid #960f26;
  width: 180px;
  height: 180px;
  top: 140px;
  left: 180px;
  animation: circle-anim 3s infinite;
  animation-delay: 500ms;
  z-index: 10;
}

@keyframes circle-anim {
  0% {
    transform: scale(1);
    opacity: 1
  }
  80% {
    opacity: 0.1;
  }
  100% {
    transform: scale(3.9);
    opacity: 0;
  }
}

@keyframes strawberry-image-anim {
  0% {
    top: -26px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -26px;
  }
}

@keyframes strawberry-info-anim {
  0% {
    top: 419px;
  }
  50% {
    top: 404px;
  }
  100% {
    top: 419px;
  }
}

@keyframes cart-anim {
  0% {
    top: 70px;
    opacity: 0;
  }
  100% {
    top: calc(50% - 30px);
    opacity: 1;
  }
}

@import "app-adaptive.component.scss";
