<main class="main">
  <div class="container">
    <div class="main-info">
      <div class="main-title">
        <h1>
          Мягкие французские
          пироженки Macaroons
        </h1>
      </div>
      <div class="main-text">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <button class="button main-button" (click)="scrollTo(chooseMacaroon)">Выбрать макарун</button>
    </div>
    <div class="main-image">
      <img src="assets/images/main-macaroon.png" alt="Большой макарун">
    </div>
  </div>
</main>

<section class="advantages">
  <div class="container">
    <div class="advantages-info">
      <div class="advantages-info-title">
        <h2>
          Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет
        </h2>
      </div>
      <div class="advantages-info-text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
        маргарина,
        разрыхлителей и улучшителей муки.
      </div>
    </div>
    <div class="advantages-image">
      <img src="assets/images/macaroon-advantage.png" alt="Большой макарун">
    </div>
    <div class="advantages-items">
      <div class="advantages-item" *ngFor="let advantage of advantages; let i = index;">
        <div class="advantages-item-number">
          <span>{{i + 1}}</span>
        </div>
        <div class="advantages-item-title">
          <h3>{{advantage.title}}</h3>
        </div>
        <div class="advantages-item-text">{{advantage.description}}</div>
      </div>
    </div>
  </div>
</section>

<section class="products" #chooseMacaroon>
  <div class="container">
    <div class="products-title">
      <h2>Выберите свой макарун</h2>
    </div>
    <div class="products-items">
      <div class="product-item" *ngFor="let productItem of productItems; let i = index;">
        <div class="product-image">
          <img src="assets/images/{{productItem.image}}" alt="Макарун {{i + 1}}">
        </div>
        <div class="product-title">
          <h3>{{productItem.title}}</h3>
        </div>
        <div class="product-order">
          <div class="product-count">
            {{productItem.count}} шт.
          </div>
          <button class="button product-button" (click)="addToOrder(order, productItem)">Заказать</button>
          <div class="product-price">
            {{productItem.price}} руб.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" #order>
  <div class="container">
    <div class="order-image">
      <img src="assets/images/order-macaroon.png" alt="Большой макарун">

      <div class="order-image-strawberry">
        <img src="assets/images/strawberry1.png" alt="Клубника">
      </div>
    </div>
    <div class="order-info">
      <div class="order-info-title">
        <h2>Закажите макарун!</h2>
      </div>
      <div class="order-info-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="order-info-input-text">
        Ваш выбор
      </div>
      <input type="text" class="order-input first-input" placeholder="Напишите, что хотите заказать..." [(ngModel)]="values.productInCart">
      <div class="order-info-input-text">
        Заполните данные для заказа
      </div>
      <input type="text" class="order-input" placeholder="Ваше имя">
      <input type="tel" class="order-input" placeholder="+375 (__) ___ - __ - __">
      <button class="button order-button">Оформить заказ</button>

      <div class="order-info-strawberry">
        <img src="assets/images/strawberry2.png" alt="Клубника">
      </div>

      <div class="order-image-strawberry-extra">
        <img src="assets/images/strawberry1.png" alt="Клубника">
      </div>
    </div>
  </div>
</section>

<a href="#" [class]="(showPresent ? 'show ' : '') + 'present'">
  <img src="assets/images/present.png" alt="Подарок">
  <div class="present-text">
    Оформите заказ
    <div>и получите подарок!</div>
    <img src="assets/images/present-text.png" alt="">
  </div>
</a>
